@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body { display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(4, 105, 4);
    font-family: 'Lobster', cursive;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,201,70,1) 35%, rgba(0,212,255,1) 100%);
}

.box {
    width: 500px;

    margin: 40px 0;
}
p{
    color: rgb(0, 0, 0);
    font-size: 30px;
}